:root.theme-dark {
  --main-text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url(/images/cover-image-dark.png);
  --menu-and-subtitle-color: #ff0070;
  --outline-color: rgba(255, 0, 112, 0.4);
  --subtitle-text-color: #000028;
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
}