:root.theme-light {
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(/images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(/images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
  }
}

.theme-light .rec-element::before {
  display: none;
}

.theme-light .rec-element::after {
  display: none;
}

.theme-light .content__title {
  color: var(--main-text-color);
}

.theme-light .title-decor {
  color: var(--main-text-color);
}

.theme-light .decorated-zone::before {
  border-color: var(--main-text-color);
}

.theme-light .decorated-zone::after {
  border-color: var(--main-text-color);
}

.theme-light .content__subtitle-decor {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  .content__title {
    color: var(--main-text-color);
  }

  .title-decor {
    color: var(--main-text-color);
  }

  .decorated-zone::before {
    border-color: var(--main-text-color);
  }

  .decorated-zone::after {
    border-color: var(--main-text-color);
  }

  .content__subtitle-decor {
    color: var(--main-text-color);
  }

  .header__theme-menu-button {
    color: var(--main-text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--main-text-color);
  }
}
