.page {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 40px;
  max-height: fit-content;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(/images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-row: 1/2;
  justify-self: start;
  align-items: center;
  min-height: 668px;
  padding: var(--padding-mobile, 10px);
  block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--padding-mobile, 10px);
  right: var(--padding-mobile, 10px);
  display: block;
  border-inline-end: 1px solid var(--menu-and-subtitle-color, #ff0070);
  border-block-start: 1px solid var(--menu-and-subtitle-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--padding-mobile, 10px);
  left: var(--padding-mobile, 10px);
  display: block;
  border-inline-start: 1px solid var(--menu-and-subtitle-color, #ff0070);
  border-block-end: 1px solid var(--menu-and-subtitle-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.rec-element {
  position: absolute;
  top: var(--padding-mobile, 10px);
  right: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rec-element::before {
  content: "REC";
  display: block;
  color: var(--accent-color, #ff0070);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 138.889%;
  text-align: center;
}

.rec-element::after {
  content: "";
  display: block;
  border-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0px 0px 4px #ff0070;
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
}

.header-footer__title {
  display: block;
  grid-row: 2;
  color: var(--header-title-color, #db00ff);
  font-weight: 700;
  font-size: var(
    --header-font-size-mobile,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__subtitle {
  grid-row: 3;
}

.title-decor {
  display: flex;
  color: var(--subtitle-text-color, #000028);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 130%;
  background-color: var(--accent-color, #ff0070);
  max-block-size: fit-content;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1px 13px;
  vertical-align: middle;
  color: var(--menu-and-subtitle-color);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 118%;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-and-subtitle-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-and-subtitle-color, #ff0070);
}

.content {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-row: 2/3;
  gap: 50px;
  max-height: fit-content;
  padding: 0 var(--padding-mobile, 10px);
}

.content__position-first {
  display: grid;
  grid-row: 1;
  gap: 20px;
}

.content__title {
  display: block;
  color: var(--menu-and-subtitle-color, #ff0070);
  font-size: var(--main-font-size, 18px);
  max-block-size: fit-content;
}

.content__main-text {
  color: var(--main-text-color, #f1b2ce);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: 130%;
}

.text-shadowed {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color, #ff0070);
}

.text-shadowed:hover {
  border-block-end: 2px solid var(--main-text-color, #f1b2ce);
}

.text-shadowed:focus {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.content__main-text::before {
  content: "";
  display: block;
  margin-block-start: 10px;
}

.content__position-second {
  display: grid;
  grid-row: 2;
  gap: 20px;
}

.content__position-third {
  display: grid;
  grid-row: 3;
  gap: 20px;
}

.content__position-third .title-decor {
  margin-block-end: 20px;
}

.content__subtitle-decor {
  display: block;
  color: var(--subtitle-text-color, #000028);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 130%;
  background-color: var(--accent-color, #ff0070);
  max-block-size: fit-content;
}

.content__galery {
  display: grid;
  grid-row: 4;
  gap: 10px;
}

.content__galery-item {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-row: 3/4;
  justify-content: center;
  min-height: 668px;
  block-size: 100vh;
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: var(--padding-desktop, 20px);
  }
  .header__subtitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header .title-decor {
    grid-column: 2;
  }

  .header-footer__title {
    font-size: var(
      --header-font-size-desktop,
      clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
    );
  }

  .header .header-footer__title {
    margin-inline-start: -20px;
  }

  .decorated-zone::before {
    top: var(--padding-desktop, 20px);
    right: var(--padding-desktop, 20px);
  }

  .rec-element {
    position: absolute;
    top: var(--padding-desktop, 20px);
    right: 29px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .decorated-zone::after {
    bottom: var(--padding-desktop, 20px);
    left: var(--padding-desktop, 20px);
  }
  .content {
    gap: 80px;
    padding: 0 var(--padding-desktop, 20px);
  }

  .grid-vertical {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .grid-vertical .content__title {
    grid-column: 1;
    max-width: 100%;
  }

  .grid-vertical .content__text-item {
    grid-column: 2/3;
  }

  .content__position-third .title-decor {
    grid-column: 2;
    min-width: 100%;
    margin-block-end: 20px;
  }

  .grid-horizontal {
    grid-template-rows: min-content 1fr;
  }

  .grid-horizontal .content__title {
    display: flex;
    grid-row: 1;
    inline-size: 30%;
  }

  .content__galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    max-height: 106vi;
  }

  .content__galery .title-decor {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .content__galery-item:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .content__galery-item:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .content__galery-item:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .content__galery-item:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    display: block;
    block-size: 100%;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .grid-vertical {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-vertical .content__title {
    grid-column: 1;
    max-width: 100%;
  }

  .grid-vertical .content__text-item {
    grid-column: 2/4;
  }

  .grid-horizontal {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .grid-horizontal .content__title {
    grid-column: 1/2;
    grid-row: 1/2;
    inline-size: 100%;
  }

  .grid-horizontal .content__text-item {
    grid-row: 2/3;
  }

  .footer {
    min-block-size: 768px;
  }
}
